/* Define a fonte padrão e as cores para o texto e fundo */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Estilo do cabeçalho, com fundo azul e alinhamento central */
header {
    background-color: #007BFF;
    padding: 15px 0;
    text-align: center;
}

a {
    color:rgb(234, 213, 236);
    text-decoration: none;
    margin-right: 30px; 
}

/* Estilo da lista de navegação, tornando-a horizontal */
nav ul.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: #c8a2c8; /* Fundo lilás para a linha dos links */
}

/* Espaçamento e estilo dos links de navegação */
nav ul li {
    margin: 0 10px; /* Espaçamento entre os botões */
}

span {
    display: inline-block;
    background-color: aqua ;
    width: 10px;   
    height: 10px;
}
/* Estilo dos links no menu de navegação com botões cinza claro e moldura */
#button {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px; /* Padding para criar o botão */
    background-color: #d3d3d3; /* Cor cinza claro para o botão */
    border-radius: 5px; /* Cantos arredondados para os botões */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transição suave */
    display: inline-block; /* Garante que os links sejam exibidos como botões */
    border: 2px solid #007BFF; /* Adiciona uma moldura azul ao redor dos botões */
}

/* Efeito de destaque ao passar o mouse sobre os links */
#button:hover {
    background-color: #aebee0; /* Altera a cor do botão ao passar o mouse */
    color: #333; /* Altera a cor do texto ao passar o mouse */
}

/* Estilo da seção de destaque com imagem de fundo personalizada */
.hero {
    background-size: cover;
    background-position: center;
    color: #5cbbe7;
    text-align: center;
    padding: 100px 20px;
}

/* Estilo do título principal na seção de destaque */
.hero-content h1 {
    font-size: 3em;
    margin: 0;
}

/* Estilo do subtítulo na seção de destaque */
.hero-content p {
    font-size: 1.5em;
    margin: 20px 0 0;
}

/* Configuração de largura máxima para o conteúdo principal */
main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    flex: 1; /* Faz o conteúdo principal ocupar o espaço disponível */
}

/* Estilo do rodapé, com fundo azul e texto branco */
footer {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
}
